

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    background-color:aliceblue;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.profile-card {
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    /* border: 3px solid black; */
    border-radius: 3px;
    box-shadow: 5px 5px 15px #7fc6c6, -5px -5px 15px #9ff8f8 ;
    padding: 1rem;
    
    
}


.profile-card .profile-photo {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;

    outline: 2px solid black;
    outline-offset: 2px;


}

.profile-card .profile-photo img {
    width: 180px;
    height: auto;
}

.profile-card .name {
    padding: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 9px;
}

.profile-card .designation {
    text-align: center;
    color: rgb(126, 16, 16) ;
    margin-top: 3px;
    
    
}

.profile-card .bio {
    text-align: justify;
    margin-top: 20px;
}

.profile-card .bio p {
    letter-spacing: 0.05ch;
}

.profile-card .contact p {
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    font-weight:bold;
    background-color: #9ff8f8;
    width: 100px;
    margin: 50px auto;
    padding: 8px 15px;
}

.profile-card .contact .media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.profile-card .contact .icon {
    width: 30px;
    height: 30px;
    margin: 0 20px;
    outline: 1px solid black;
    outline-offset: 5px;
    border-radius: 50%;
}


